---
import MainLayout from "@layouts/MainLayout.astro";
import SearchIcon from "@assets/SearchIcon.astro";
---

<MainLayout>
  <section class="container mt-8">
    <div
      class="bg-gradient-to-b from-primary-50 via-primary-50 to-primary-200 flex"
    >
      <!-- Left -->
      <div class="p-4 w-2/3">
        <header class="flex justify-between items-center">
          <div class="relative">
            <div
              class="bg-primary bg-opacity-50 absolute w-full h-full translate-x-1/4 rounded-md overflow-hidden"
            >
              <p inert class="sr-only">test</p>
            </div>

            <div
              class="relative bg-gradient-to-r px-4 py-2 from-secondary to-primary rounded-md overflow-hidden"
            >
              <h2 class="text-white">新闻公告</h2>
            </div>
          </div>

          <div>
            <a href="#">更多 &gt;</a>
          </div>
        </header>

        <figure class="relative rounded-lg overflow-hidden">
          <div class="absolute w-full h-full bg-white"></div>

          <figcaption class="relative p-8">
            <div
              class="mt-12 mb-24 rounded-lg text-center w-fit p-4 space-y-2 bg-primary text-white"
            >
              <p class="text-3xl">2023</p>
              <p class="text-xl">08-16</p>
            </div>

            <h3 class="text-xl font-bold">
              中国道教协会第十五届玄门讲经活动开幕
            </h3>

            <p class="mt-4">
              2023年8月7日上午，中国道教协会第十五届玄门讲经活动开幕式在山西太原举行。中央统战部有关部门负责同志，山西省委统战部副部长、省宗教局局长黄杰，太原市、迎泽区、万柏林区等相关党政部门领导出席开幕式
            </p>
          </figcaption>
        </figure>
      </div>

      <!-- Right -->
      <div class="w-1/3 rounded-lg overflow-hidden bg-secondary p-4 text-white">
        <div class="pb-[30%] bg-primary rounded-lg"></div>

        <article class="py-4">
          <h3 class="line-clamp-1 text-xl font-bold">
            第四届道德经文化及应用博士论坛
          </h3>
          <p class="line-clamp-2">
            7月8日至9日，“明白四达——第四届道德经文化及应用博士学术论坛暨袁州首届中华优秀传统文化艺术节”在江西宜春举行。本次论坛由中国道教协会、江西省宜春市人民政府主办，江西省宜春市文化广电旅游局、江西省宜春市宜丰县人民政府承办，江西省宜春市道教协会协办。
          </p>
        </article>

        <hr />

        <ul class="mt-4 space-y-2">
          {
            [...Array(5)].map(() => {
              return (
                <li class="flex items-center">
                  <div class="w-2 h-2 bg-primary rounded-full" />
                  <p class="flex-1 px-4 line-clamp-1">
                    “明白四达——第四届道德经文化及应用博士学术论坛暨袁州首届中华优秀传统文化艺术节”
                  </p>
                  <p class="shrink-0">2023-07-06</p>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </section>

  <section class="container">
    <h2 class="sr-only">中国道教协会第十五届玄门讲经活动开幕</h2>

    <div class="bg-gradient-to-b from-primary-50 via-primary-50 to-primary-200">
      <div class="h-24 bg-green-500"></div>

      <div class="flex py-4">
        <!-- Left -->
        <section class="w-2/3 px-4">
          <header class="flex justify-between">
            <div class="relative w-fit">
              <div
                class="bg-primary bg-opacity-50 absolute w-full h-full translate-x-1/4 rounded-md overflow-hidden"
              >
                <p inert class="sr-only">test</p>
              </div>

              <div
                class="relative bg-gradient-to-r px-4 py-2 from-secondary to-primary rounded-md overflow-hidden"
              >
                <h3 class="text-white">新闻公告</h3>
              </div>
            </div>

            <div>
              <a href="#">更多 &gt;</a>
            </div>
          </header>

          <ul>
            {
              [...Array(5)].map(() => {
                return (
                  <li class="flex items-center">
                    <div class="text-center -space-y-1.5 px-2">
                      <p class="text-2xl">2023</p>
                      <p class="text-gray-500">08-08</p>
                    </div>

                    <div class="w-0.5 h-4 bg-primary rounded-full" />

                    <article class="pl-8 py-4 border-b border-primary flex-1">
                      <h4 class="text-lg">天人合一与生态文明建设</h4>
                      <p class="text-sm text-gray-500">
                        “明白四达——第四届道德经文化及应用博士学术论坛暨袁州首届中华优秀传统文化艺术节”
                      </p>
                    </article>
                  </li>
                );
              })
            }
          </ul>
        </section>

        <!-- Right -->
        <section class="w-1/3 px-4">
          <header class="relative w-fit">
            <div
              class="bg-green-500 bg-opacity-50 absolute w-full h-full translate-x-1/4 rounded-md overflow-hidden"
            >
              <p inert class="sr-only">test</p>
            </div>

            <div
              class="relative bg-gradient-to-r px-4 py-2 from-green-400 to-green-500 rounded-md overflow-hidden"
            >
              <h3 class="text-white">新闻公告</h3>
            </div>
          </header>

          <nav class="grid grid-cols-3 gap-4 mt-8">
            <div class="bg-green-500 h-24 col-span-3 rounded-lg"></div>

            <div class="bg-primary h-24 col-span-2 rounded-lg"></div>

            <div class="bg-blue-400 h-24 rounded-lg"></div>
            <div class="bg-blue-600 h-24 rounded-lg"></div>
            <div class="bg-blue-600 h-24 rounded-lg"></div>
            <div class="bg-blue-600 h-24 rounded-lg"></div>
          </nav>
        </section>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <div class="bg-primary-50 p-4 rounded-lg overflow-hidden">
      <header class="relative w-fit">
        <div class="relative w-fit">
          <div
            class="bg-primary bg-opacity-50 absolute w-full h-full translate-x-1/4 rounded-md overflow-hidden"
          >
            <p inert class="sr-only">test</p>
          </div>

          <div
            class="relative bg-gradient-to-r px-4 py-2 from-secondary to-primary rounded-md overflow-hidden"
          >
            <h3 class="text-white">信息查询</h3>
          </div>
        </div>
      </header>

      <div class="mt-8 rounded-tl-lg overflow-hidden">
        <button class="p-2 bg-primary text-white">教职证查询</button>
        <button class="p-2 bg-secondary text-primary-100">皈依证查询</button>
      </div>

      <div
        class="relative text-primary px-4 py-2 items-center flex justify-between"
      >
        <input
          placeholder="输入姓名、道名查询"
          class="pl-16 left-0 right-0 absolute w-full h-full border-2 bg-primary-50 border-primary text-black rounded-2xl placeholder-gray-500"
        />
        <div class="relative w-8 h-8">
          <SearchIcon />
        </div>
        <p class="relative text-end">查询</p>
      </div>
    </div>
  </section>

  <section class="container flex py-4 items-center">
    <div class="w-1/4 px-4">
      <div class="rounded-2xl bg-secondary p-8 flex items-center">
        <ul
          class="rounded-l-lg overflow-hidden w-full divide-y-2 divide-secondary text-center"
        >
          <li class="p-8 bg-primary text-white">道教学习园地</li>
          <li class="p-8 bg-primary-50">学习XXX</li>
          <li class="p-8 bg-primary-50">道门初窥</li>
        </ul>
      </div>
    </div>

    <div class="w-3/4 px-4">
      <ul>
        {
          [...Array(3)].map(() => {
            return (
              <li>
                <article class="pl-8 py-4 border-b border-primary flex-1">
                  <h4 class="text-lg">道教教派简介（I）早期主要教派</h4>
                  <p class="text-sm text-gray-500 line-clamp-2">
                    兴起于战国末，是指从事方术、方技等道术的人，时称方士。包括天文、医学、神仙、占卜、相术、堪舆等技艺并宣传服食、祭祀可以长生成仙的人。据《史记。封禅书》载：最早的方士是周灵王时候的苌弘，据称他会阴阳之学，明鬼神之事。至战国时最有影响的方士是齐人邹衍，他倡导“天人合一”思想，提出“天人感应”说，认为人的行为会影响天地，天地的变化也会影响人的行为，因此人要顺应天地的变化，以求长生不老。邹衍的学说对后世道教的发展产生了重要影响。
                  </p>
                </article>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</MainLayout>
