---
import LockIcon from "@assets/LockIcon.astro";
import MobileIcon from "@assets/MobileIcon.astro";
import HomeIcon from "@assets/HomeIcon.astro";
import Input from "@components/Input.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <section class="container my-16">
    <div
      class="px-16 py-8 bg-gradient-to-b from-primary-50 via-primary-50 to-primary-200 space-y-16"
    >
      <h2 class="text-2xl font-bold">用户登录</h2>
      <form class="max-w-2xl mx-auto space-y-8">
        <div class="space-y-4">
          <Input
            classNames={{
              wrapper: "p-4",
              input:
                "border-2 border-primary rounded-lg pl-10 pr-6 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent",
            }}
            placeholder="请输入您的手机号"
          >
            <div class="w-5 h-5 text-primary" slot="prefix">
              <MobileIcon />
            </div>
          </Input>

          <Input
            classNames={{
              wrapper: "p-4",
              input:
                "border-2 border-primary rounded-lg pl-10 pr-6 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent",
            }}
            placeholder="请输入您的登录密码"
            type={"password"}
          >
            <div class="w-5 h-5 text-primary" slot="prefix">
              <LockIcon />
            </div>
          </Input>
        </div>

        <button
          class="block mx-auto px-16 py-2 bg-primary text-white rounded-md"
        >
          登录
        </button>
      </form>

      <div class="flex justify-between items-center">
        <div class="flex items-center space-x-2">
          <div class="w-6 h-6 text-primary">
            <HomeIcon />
          </div>

          <a href="/" class="text-blue-500 hover:underline">返回首页</a>
        </div>

        <div class="flex items-center space-x-4">
          <a href="/" class="text-blue-500 hover:underline">用户注册</a>
          <div class="w-0.5 self-stretch bg-primary"></div>
          <a href="/" class="text-blue-500 hover:underline">忘记密码</a>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
