---
import EyeIcon from "@assets/EyeIcon.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <div class="container px-2 mt-8 flex space-x-8 items-start">
    <aside
      class="w-[400px] bg-secondary p-6 rounded-lg text-white sticky top-8"
    >
      <nav>
        <ul class="space-y-2">
          {
            [...Array(5)].map(() => {
              return (
                <li class="flex items-center text-sm">
                  <div class="w-2 h-2 bg-primary rounded-full" />
                  <p class="flex-1 px-4 line-clamp-1">
                    “明白四达——第四届道德经文化及应用博士学术论坛暨袁州首届中华优秀传统文化艺术节”
                  </p>
                  <p class="shrink-0">2023-07-06</p>
                </li>
              );
            })
          }
        </ul>
      </nav>
    </aside>

    <article class="flex-1 bg-primary bg-opacity-10 py-16 space-y-8">
      <header class="space-y-8 text-center px-32">
        <h1 class="text-2xl font-bold">
          桂平市罗丛岩古雅道观开展“倾情社区、爱心助学”活动
        </h1>

        <div class="relative">
          <div
            class="flex items-center absolute right-0 top-1/2 -translate-y-1/2"
          >
            <div class="w-4 h-4">
              <EyeIcon />
            </div>
            <p>80</p>
          </div>
          <p>发布时间：2023.08.03 10:22:03</p>
        </div>
      </header>

      <div class="px-32">
        <div class="pb-[60%] bg-primary"></div>
      </div>

      <div class="px-16">
        <p>
          为进一步做好道观“两个服务”工作，践行道教“济世利人”的传统美德，上海钦赐仰殿道观于8月3日开展年度“倾情社区、爱心助学”慈善捐款活动。钦赐仰殿道观住持丁常云道长、陆家嘴街道办事处副主任高睿及受助学生20余人参加活动。
        </p>
        <p>
          此次活动共资助20名社区学生，每人资助2000元，助学款共计4万元。丁常云道长向受助学生赠送助学款，勉励他们要多重视中华传统文化的学习，增强文化自信，希望学生们能在学习生活中做好人、做好事，不辜负大家殷切的期望，以优异的成绩回报家庭、回馈社会。
        </p>
        <p>
          “倾情社区、爱心助学”是上海钦赐仰殿道观常态化的慈善公益项目，活动已坚持数十年。钦赐仰殿道观专门设立“爱心助学专项资金”，向街道社区贫困家庭、品学兼优的在校大学生、高中生长期给予一定资助。
        </p>
        <p>
          为进一步做好道观“两个服务”工作，践行道教“济世利人”的传统美德，上海钦赐仰殿道观于8月3日开展年度“倾情社区、爱心助学”慈善捐款活动。钦赐仰殿道观住持丁常云道长、陆家嘴街道办事处副主任高睿及受助学生20余人参加活动。
        </p>
        <p>
          此次活动共资助20名社区学生，每人资助2000元，助学款共计4万元。丁常云道长向受助学生赠送助学款，勉励他们要多重视中华传统文化的学习，增强文化自信，希望学生们能在学习生活中做好人、做好事，不辜负大家殷切的期望，以优异的成绩回报家庭、回馈社会。
        </p>
        <p>
          “倾情社区、爱心助学”是上海钦赐仰殿道观常态化的慈善公益项目，活动已坚持数十年。钦赐仰殿道观专门设立“爱心助学专项资金”，向街道社区贫困家庭、品学兼优的在校大学生、高中生长期给予一定资助。
        </p>
        <p>
          为进一步做好道观“两个服务”工作，践行道教“济世利人”的传统美德，上海钦赐仰殿道观于8月3日开展年度“倾情社区、爱心助学”慈善捐款活动。钦赐仰殿道观住持丁常云道长、陆家嘴街道办事处副主任高睿及受助学生20余人参加活动。
        </p>
        <p>
          此次活动共资助20名社区学生，每人资助2000元，助学款共计4万元。丁常云道长向受助学生赠送助学款，勉励他们要多重视中华传统文化的学习，增强文化自信，希望学生们能在学习生活中做好人、做好事，不辜负大家殷切的期望，以优异的成绩回报家庭、回馈社会。
        </p>
      </div>
    </article>
  </div>
</MainLayout>
